@import "tailwindcss";

@layer utilities {
  .animate-slide-in-right {
    animation: slideInRight 1.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  .animate-slide-in-left {
    animation: slideInLeft 1.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 0.8;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 0.8;
    transform: translateX(0);
  }
}